body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #4b4b4b;
    background-color: #FAFAFA;
}

/* Center text horizontally */
.center-text {
  text-align: center;
}

/* Center image horizontally */
.fade-in-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles.css */
.center-text {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in forwards;
}
/* Text fade in */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
